* {
    font-family: poppins;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(64, 60, 68);
}

header {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 80vw;
    background-color: aliceblue;
    border-radius: 20px;
}

h1 {
    font-size: 40px;
}

button {
    border-radius: 5px;
}

.score {
    font-size: 40px;
}

#playerX {
    color: red
}

#playerO {
    color: blue
}

main {
    margin-top: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4);
    max-width: 700px;
}

.main-div {
    height: inherit;
    display: grid;
    grid-template-columns: 160px 160px 160px;
    grid-template-rows: 160px 160px 160px;
    position: relative;
    padding: 40px;

}


div.square {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

button {
    margin: 20px;
    position: relative;
    padding: 10px;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background-color: rgb(56, 56, 58);
}

#completeBox {
    width: 80vw;
    height: 40vw;
    background-color: rgb(7, 7, 7);
    position: absolute;
    display: none;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: white;
}

div.vert {
    border-right: 1px solid black;
}

div.hori {
    border-bottom: 1px solid black;
}

div.scoreBox {
    border-radius: 50px;
    padding: 20px;
}